.bg-op{
	background-color: #ffffff;
	opacity: .9;
}
.bg-login{
	background: url('../img/fondo.jpg');
	background-size: cover;
}
.margin-top-15{
	margin-top: 15px;
}
.padding-15{
	padding: 15px;
}
.page-header{
	margin: 10px 0 15px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 1px;
    border: 1px solid transparent;
}
.breadcrumb {
    padding: 8px 30px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.row-nav
{
   position: relative;
   z-index: 1;
}